build --cxxopt -std=c++20
build --copt -Wall
build --copt -Wextra
build --copt -Wshadow
build --copt -pedantic
build --copt -Wconversion
build --copt -Wno-sign-conversion
build --copt -Werror

build:pedantic --copt -D_GLIBCXX_DEBUG
build:pedantic --copt -D_GLIBCXX_DEBUG_PEDANTIC
build:pedantic --copt -fsanitize=address,undefined
build:pedantic --linkopt -fsanitize=address,undefined