build --cxxopt -std=c++20
build --copt -Wall
build --copt -Wextra
build --copt -Wshadow
build --copt -pedantic
build --copt -Wconversion
build --copt -Wno-sign-conversion
build --copt -Werror

# build:asan --linkopt -ldl
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address