BasedOnStyle: 'Chromium'
IndentWidth: 4
AccessModifierOffset: -2

ReflowComments: false

InsertBraces: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false